body {
	font-family: "メイリオ", "Verdana", "Roboto", "Droid Sans", "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "MS Pゴシック", sans-serif;
	background-color: #fff;
	display: flex;
    flex-flow: column;
	min-height: 100vh;
	margin: 0;
}

li {
	list-style: none;
}

.header {
	background-color: #bbd4dc;
	height: 10%;
}

.header-logo {
	font-size: 30px;
	color: rgb(255, 255, 255);
	height: 50px;
	margin: 2% 5% 2% 5%;
	padding-left: 1%;
	float: left;
	width: 90%;
}

.header-list a {
	text-decoration: none;
	float: left;
	margin: 0 5% 3% 5%;
	color: rgb(134, 187, 169);
	font-size: 20px;
	text-align: center;
	padding: 1%;
}

.header-list a:hover {
	background-color: #fff;
	border-radius: 10%;
}


.main {
	background-color: #fff;
	flex: 1;
	margin-top: 0.7%;
	margin-left: 1.2%;
}

.main a {
	text-decoration: none;
	text-align: center;
}

.main a img{
	width: 19.5%;
}

.footer {
	height: 0vh;
	background-color: #bbd4dc;
}