html,
body {
	font-family: "Meiryo";
	background-color: #fff;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.header {
	background-color: #bbd4dc;
	height: 10vh;
}

.header-logo {
	font-size: 30px;
	color: rgb(255, 255, 255);
	height: 50px;
	padding: 20px 20px;
	float: left
}

.header-list a {
	text-decoration: none;
	float: right;
	padding: 30px;
	color: rgb(134, 187, 169);
	font-size: 20px
}

.main {
	background-color: #fff;
	flex: 1;
}

/*dropmenu style*/
/*style of the main menu*/
#dropmenu {
	list-style-type: none;
	width: 50%;
	margin-top: 5%;
	margin-left: 30%;
}

#dropmenu li {
	position: relative;
	width: 50%;
	float: left;
	text-align: center;
}

#dropmenu li a {
	display: block;
	padding: 15px 0px 11px 10px;
	margin: 0px;
	background: #bbd4dc;
	color: #fff;
	font-size: 18px;
	line-height: 1;
	text-decoration: none;
	border-radius: 10px;
}

/*style of the sub menu*/
#dropmenu li ul {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	padding: 0;
}

#dropmenu li ul li {
	overflow: hidden;
	width: 100%;
	height: 0;
	color: #fff;
	transition: .3s;
}

#dropmenu li ul li a {
	padding: 13px 15px;
	background: #bbd4dc;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}

/*action against touching the main menu*/
#dropmenu li:hover a {
	background: #bbd4dc;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

/*only li of main menu should change the color by ">" (not li of sub menu) */
#dropmenu li:hover>a {
	background-color: #acc3ca;
}

/*action against touching the sub menu*/
#dropmenu li ul li:hover a {
	background-color: #acc3ca;
}

#dropmenu li:hover ul li {
	overflow: visible;
	height: 38px;
	border-top: 1px solid #ffffff;
}

#dropmenu li:hover ul li:first-child {
	border-top: 0;
}

#dropmenu li:hover ul li:last-child {
	border-bottom: 0;
}

#dropmenu li:hover ul li:last-child a {
	border-radius: 10px;
}

/*nikki style*/
.nikki-logo {
	font-size: 27px;
	margin-left: 20%;
	margin-top: 5%;

}

.nikki {
	font-size: 15px;
	margin-left: 20%;
	margin-right: 10%;
	line-height: 50px;
}

#MovePage a {
	background-color: rgb(134, 187, 169);
	padding: 1%;
	font-size: 17px;
	color: #fff;
}

#MovePage a:hover {
	background-color: rgb(100, 187, 169);
}

.MovePrePage a {
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	border-radius: 50px 3px 3px 50px;
}

.MoveNexPage a {
	float: right;
	margin-right: 5%;
	margin-top: 5%;
	background-color: rgb(134, 187, 169);
	border-radius: 3px 50px 50px 3px;
}

.fMovePrePage a {
	float: left;
	margin-left: 5%;
	background-color: rgb(134, 187, 169);
	border-radius: 50px 3px 3px 50px;
}

.fMoveNexPage a {
	float: right;
	margin-right: 5%;
	padding: 1%;
	background-color: rgb(134, 187, 169);
	border-radius: 3px 50px 50px 3px;
}

/* LiveAndDie style*/
.LiveAndDie a{
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 17px;
	margin-top: 5%;
	margin-left: 70%;
	padding: 1%;
	width: 22%;
	line-height: 1.8;
	color: #fff;
	background-color: #c3dcbb;
	border-radius: 10px;
}

/* repo style*/
.repo a{
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 17px;
	margin-top: 15%;
	margin-left: 15%;
	padding: 1%;
	width: 22%;
	line-height: 1.8;
	color: #fff;
	background-color: #e4e595;
	border-radius: 10px;
}


/* net style*/
.net a{
	display: block;
	text-decoration: none;
	text-align: center;
	font-size: 17px;
	margin-top: 5%;
	margin-left: 22%;
	padding: 1%;
	width: 30%;
	line-height: 1.8;
	color: #fff;
	background-color: #bbc8dc;
	border-radius: 10px;
}


/*footer-style*/
.footer {
	margin-top: 5%;
	margin-bottom: 3%;
}