body {
	font-family: "メイリオ", "Verdana", "Roboto", "Droid Sans", "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "MS Pゴシック", sans-serif;
	background-color: #fff;
	display: flex;
    flex-flow: column;
	min-height: 100vh;
	margin: 0;
}

li {
	list-style: none;
}

.header {
	background-color: #bbd4dc;
	height: 10%;
	margin-bottom: 1%;
}

.header-logo {
	font-size: 30px;
	color: rgb(255, 255, 255);
	height: 50px;
	margin: 2% 5% 2% 5%;
	padding-left: 1%;
	float: left;
	width: 90%;
}

.header-list a {
	text-decoration: none;
	float: left;
	margin: 0 5% 3% 5%;
	color: rgb(134, 187, 169);
	font-size: 20px;
	text-align: center;
	padding: 1%;
}

.header-list a:hover {
	background-color: #fff;
	border-radius: 10%;
}


.main {
	background-color: #fff;
	flex: 1;
	text-align: center;
}

.main a {
	text-decoration: none;
	
}

.main a img{
	display: inline-block;
	margin: auto;
	width: 30%;
	max-height: 90vh;
}


#e-main img{
	display: block;
	max-height: 90vh;
	max-width: 90%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}

#e-main {
	font-size: 10pt;
	font: "メイリオ";
}


.footer {
	height: 5vh;
	background-color: #fff;
}