html,
body {
	font-family: "メイリオ", "Verdana", "Roboto", "Droid Sans", "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "MS Pゴシック", sans-serif;
	background-color: #fff;
	height: 100%;
	margin: 0
}

/*li要素の修飾。noneで箇条書きの●などを消す*/

li {
	list-style: none;
	text-align: center;
}

a {
	text-decoration: none;
}

/*header style*/
.header {
	background-color: #bbd4dc;
	height: 40%;
}

.header-logo {
	font-size: 30px;
	color: rgb(255, 255, 255);
	height: 50px;
	padding: 20px 20px;
}

.header img {
	height: 100px;
	margin: 10% 25%;
}

/*main style*/
.main {
	background-color: #bbd4dc;
	height: 40%;
	position: relative;
}

.main-list a {
	float: left;
	color: #fff;
	background-color: rgb(113, 184, 160);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 19px;
	line-height: 2;
	margin: 5% 12%;
	padding: 1%;
}

.main-list li:hover a {
	background: rgb(88, 201, 165);
}


.koshin-logo {
	clear: left;
	font-size: 20px;
	color: rgb(102, 163, 148);
	margin-left: 40%;
	margin-right: 40%;
	padding-top: 10%;
	padding-bottom: 3%;
}

.koshin-list li {
	clear: left;
}

.koshin-list a {
	display: block;
	color: rgb(102, 163, 148);
	font-size: 19px;
	padding-top: 2%;
}

/*footer style*/
.footer {
	height: 20%;
	background-color: #bbd4dc;
}

/*mobile devive style*/
/*phone*/

@media screen and (max-width:420px) {

	.header img{
		margin-left: 37.5%;
	}

	.main-list li a{
		width: 70px;
		height: 70px;
		margin-right: 0;
		margin-left: 10%;
		font-size: 25px;
		line-height: 2.8;
	}

	.koshin-logo {
		font-size: 17px;
	}

	.koshin-list a {
		display: block;
		color: rgb(102, 163, 148);
		font-size: 15px;
		padding-top: 2%;
	}

	.header {
		height: 35%;
	}

	.footer{
		height: 25%;
	}


}