html,
body {
	font-family: "メイリオ", "Verdana", "Roboto", "Droid Sans", "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "MS Pゴシック", sans-serif;
	background-color: #fff;
	min-height: 100vh;
	margin: 0
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*header style*/
.header {
	background-color: #bbd4dc;
	height: 40vh;
}

.header-logo {
	font-size: 30px;
	color: rgb(255, 255, 255);
	height: 50px;
	padding: 20px 20px;
}

.header img {
	height: 100px;
	margin: 10% 25%;
}

/*main style*/
.main {
	background-color: #bbd4dc;
	height: 40vh;
}

.main-list li {
	text-align: center;
}

.main-list a {
	display: block;
	float: left;
	color: #fff;
	background-color: rgb(113, 184, 160);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 19px;
	line-height: 2;
	margin: 5% 12%;
	padding: 1%;
}

.main-list li:hover a {
	background: rgb(88, 201, 165);
}

/*footer style*/
.footer {
	height: 20vh;
	background-color: #bbd4dc;
}

/*mobile devive style*/
/*phone*/

@media screen and (max-width:420px) {

	.header img{
		margin-left: 37.5%;
	}

	.main-list li a{
		width: 70px;
		height: 70px;
		margin-right: 0;
		margin-left: 10%;
		font-size: 25px;
		line-height: 2.8;
	}

	.header {
		height: 35vh;
	}

	.footer{
		height: 25vh;
	}


}