html,
body {
	font-family: "Meiryo";
	background-color: #fff;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.header {
	background-color: #bbd4dc;
	height: 70vh;
}

.header-logo {
	font-size: 30px;
	color: rgb(255, 255, 255);
	height: 50px;
	padding: 20px 20px;

}

.header img {
	height: 100px;
	padding-top: 100px;
	padding-left: 300px;
}

.main {
	height: 20vh;
	background-color: bisque;
}

.main-logo {
	color: black;
	font-size: 20px;
	padding: 20px;
}

.main-list a {
	float: left;
	padding-left: 150px;
	color: rgb(134, 187, 169);
	font-size: 20px
}

.footer {
	height: 10vh;
	background-color: rgb(201, 176, 176);
}

@media screen and (max-width:960px) {
	.header-logo {
		width: 100%;
	}
}

@media screen and (max-width:480px) {}