html, body {
	height: 100%;
}

body {
	font-family: Meiryo;
	background-color: #fff;
}

li {
	list-style: none;
}

.header {
	background-color: #bbd4dc;
	height: 10%;
}

.header-logo {
	font-size: 30px;
	color: rgb(255, 255, 255);
	height: 50px;
	padding: 20px 20px;
    float:left

}

.header-list a{
    text-decoration: none;
	float: right;
	padding: 30px ;
	color: rgb(134, 187, 169);
	font-size: 20px
}

.main {
	height: 80%;
	background-color: bisque;
}

.main-list a{
    text-decoration: none;
	float: left;
	padding: 30px ;
	color: rgb(134, 187, 169);
	font-size: 20px
}

.footer {
	height: 10%;
	background-color: rgb(201, 176, 176);
}

.footer-list li {
	font-size: 20px;
	float: left;
}

.footer-logo {
	font-size: 15px;
	float: right;
}